<div class="vertical">
  <mat-form-field>
    <input matInput placeholder="Label" [(ngModel)]="questionSchema.label"  [required]="true">
  </mat-form-field>
  <mat-divider></mat-divider>
  <div *ngFor="let response of questionSchema.values; let i = index; trackBy:trackByFn">
    <mat-form-field>
      <input matInput placeholder="Option" [(ngModel)]="questionSchema.values[i]">
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="add()">Add</button>
  <mat-checkbox [(ngModel)]="questionSchema.required">Required</mat-checkbox>
</div>
