<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="survey" class="vertical">
  <app-panel [questionSchema]="questionSchema"
             (saveQuestion)="onSave($event)"
             [isPanelActive]="isPanelActive"
             (togglePanel)="onPanelToggle($event)"
             *ngIf="isEditable">
  </app-panel><br>
  <app-preview
          [survey]="survey"
               [contact]="contact"
               (editQuestion)="onEdit($event)"
               (removeQuestion)="onRemove($event)"
               [isEditable]="isEditable">
  </app-preview>
</div>
<div *ngIf="!survey"><p>No such survey!</p></div>
