<mat-vertical-stepper #stepper>
  <mat-step>
    <form  *ngIf="surveys.length">
      <ng-template matStepLabel>Wybierz ankiete</ng-template>
      <mat-form-field>
        <mat-select [(value)]="chosenSurvey" required>
          <mat-option *ngFor="let survey of surveys" [value]="survey">{{survey.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <p *ngIf="!surveys.length">Nie ma jeszcze ankiet!</p>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Wybierz kontakt</ng-template>
      <mat-form-field *ngIf="contacts.length">
        <mat-select [(value)]="chosenContact" required>
          <mat-option *ngFor="let contact of contacts" [value]="contact">{{contact.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button (click)="createContact()">create new one</button>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Wypełnij!</ng-template>
        <div>
          <button mat-button [disabled]="!chosenSurvey || !chosenContact" (click)="fill()"><span>Wypełnij </span><mat-icon>send</mat-icon></button>
        </div>
    </form>

  </mat-step>
</mat-vertical-stepper>
